<p>
  <strong>Title:</strong>
  <%= @post.title %>
</p>

<p>
  <strong>Photo:</strong>
  <%= image_tag(@post.photo) %>
</p>

<%= link_to 'Edit', "/posts/#{@post.id}/edit" %> |
<%= link_to 'Back', "/posts" %>
